@use 'sass:map';
@use '../base/maps';
@use '../base/extends' as *;

.btn {
    @extend %boton-base;
    background-color: map.get(maps.$colores, color-dos);
    
    &:hover {
        background-color: map.get(maps.$colores, color-tres);
        color: map.get(maps.$colores, color-uno);
    } 
}